
{% extends "base.html.twig" %}

{% block title %}{{class.name}}{% endblock %}



{% block body %}
<table class="table table-bordered table-hover mt-5  mb-5">
    <h1 class="text text-success text-center">{{class.name}}</h1>
    <tbody>
        <tr>
            <th class="text text-success">Subject</th>
            <td>{{class.subject}}</td>
        </tr>
        <tr>
            <th class="text text-success">Total Lesson</th>
            <td>{{class.totalLesson}}</td>
        </tr>
        <tr>
            <th class="text text-success">Lecturer</th>
            <td>{{class.lecturer}}</td>
        </tr>  
        <tr>
            <th class="text text-success">Students:</th>
            <td>
            {% for s in class.students %}
            {{s.name}},
            {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}